<div class="panel panel-default">
  <div class="panel-heading">
    <%= @group.name %>
      <% if current_user_is_owner %>
        <small class="pull-right">
          <%= link_to 'Edit', edit_group_path(@group) %> |
          <%= link_to 'Delete',
                      group_path(@group),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </small>
      <% end %>
  </div>

  <ul class="list-group">
    <li class="list-group-item">Owner: <%= @group.owner.email %></li>
    <li class="list-group-item">Hometown: <%= @group.hometown %></li>
    <li class="list-group-item">Created on: <%= @group.created_at.to_formatted_s(:short) %></li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Members

    <% if current_user_is_owner %>
      <small class="pull-right">
        <%= link_to 'Add a member', add_user_group_path %>
      </small>
    <% end %>
  </div>

  <ul class="list-group">
    <% if @group.user.exists? %>
      <% @group.user.each do |user| %>
          <li class="list-group-item"><%= link_to user.email, user_path(user) %>
        <% if current_user_is_owner && user != current_user %>
          <small class="pull-right">
            <%= link_to 'Remove', remove_user_group_path(user_param: user),
                        method: :delete, data: { confirm: 'Are you sure?' } %>
          </small>
        <% end %></li>
      <% end %>
    <% else %>
      <li class="list-group-item"><small>There are currently no members in this group.</small></li>
    <% end %>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Activities
    <small class="pull-right">
      <% if current_user_is_owner %>
        <%= link_to 'Add an activity', new_group_activity_path(group_id: @group) %>
      <% end %>
    </small>
  </div>
  <% if @group.activity.exists? %>
    <table class="table">
      <tr>
        <th>Activity</th>
        <th>Time</th>
        <th>Location</th>
        <th>Votes</th>
        <th>Definitive</th>
        <% if current_user_is_owner %>
          <th>Delete</th>
        <% end %>
      </tr>
      <% activities = @group.activity %>e
      <% activities.each do |activity| %>
        <tr>
            <td><strong><%= link_to activity.name, activity_path(activity) %></strong></td>
            <td><%= activity.start_date.to_formatted_s(:short) %></td>
            <td><%= activity.location %></td>
            <td>
              <%= activity.voters.count.to_s %>
              <% if activity.voters.include? current_user %>
                <i class="fa fa-fw fa-thumbs-o-up" style="color: grey;"></i>
              <% else %>
                <%= link_to '<i class="fa fa-fw fa-thumbs-o-up"></i> +1'.html_safe, vote_activity_path(activity), method: :post %>
              <% end %>
            </td>
            <td>
              <%= activity.definitive ? 'Yes' : 'No'%>
              <% if current_user_is_owner && ! activity.definitive%>
                <%= link_to '<i class="fa fa-fw fa-check"></i> Mark as definitive'.html_safe, definitive_activity_path(activity), method: :post %>
              <% end %>
            </td>
          <% if current_user_is_owner %>
              <td><%= link_to '<i class="fa fa-fw fa-times"></i>'.html_safe, activity_path(activity),
                              method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
  <div class="panel-body"><small>There are currently no activities in this group.</small></div>
  <% end %>
  </table>
</div>

<%= link_to 'Back', :back %>